{% extends "views/layout.html" %}


{% block content %}
<h2>display catalog here using django templates</h2>
<h3>{{ title }}</h3>



<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>

        {% for m in movies %}
            <tr>
                <td>{{m.id}}</td>
                <td>{{m.title}}</td>
                <td>{{m.release_year}}</td>
                <td>{{m.price}}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
